/* --------- Global style */

body {
    background: linear-gradient(to bottom, #F5F5F5, #FFFFFF);
    font-family: "Raleway", sans-serif;
    color: #1e3050;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6rem 0;
    padding-bottom: 5rem;
}

/* --------- Header & Nav Bar */

.header {
    background: linear-gradient(to bottom, #FFA500, #FFD700);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    align-items: center;
    min-height: 3.75rem;
    top: 0;
    flex-direction: row-reverse;
    justify-content: space-around;
    height: 6rem;
}

header img {
    height: 4rem;
    margin-top: 2vh;
    border-radius: 50%;
}

header a {
    text-decoration: none;
    color: #1e3050;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: bolder;
    padding-bottom: 1.2rem;
}

#menu>li {
    font-weight: bold;
    padding: 0.5rem 2rem;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* --------- Nav bar */

nav {
    display: none;
    position: absolute;
    width: 50%;
    top: 5.5rem;
    background: linear-gradient(to bottom, #FFD700, #FFA500);
    left: 0;
    height: 1000%;
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

#nav-toggle-label {
    font-size: 2rem;
    color: #1e3050;
}

/* --------- Heading */

.heading {
    text-align: center;
    font-size: 2.5rem;
    margin: 1rem 0;
}

.logo {
    height: 40px;
    padding-right: 5px;
}

/* --------- Game layout */

.game-area {
    background: linear-gradient(to bottom, #800080 0%, #a040a0 40%, #a040a0 60%, #800080 100%);
    box-sizing: border-box;
    width: 97%;
    max-height: 450px;
    max-width: 830px;
    padding: 0;
    border: 2px solid #B080C0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    border-radius: 8px;
}

/* --------- Footer */
.footer {
    background: linear-gradient(to bottom, #FFA500, #FFD700);
    padding: 20px;
    width: 100%;
    margin-top: 6rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: fixed;
    bottom: 0;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#social-networks {
    list-style-type: none;
    display: flex;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

#social-networks li {
    margin-right: 10px;
    padding: 0 1rem;
}

.footer p {
    margin: 0;
}

/* --------- Quiz Game */

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    background: #ffffff7b;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    height: 27.6rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.app>h1 {
    font-size: 23px;
    color: #222;
    font-weight: bold;
    border-bottom: 1px solid #cdcdcd;
    color: #036444;
    padding-bottom: .7rem;
}

.quiz {
    padding: 10px 0;
}

.quiz>h2 {
    font-size: 16px;
    color: #00291c;
    font-weight: 100;
}

#answer-buttons {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
}

.btn {
    background-color: #fff;
    color: #00291c;
    font-weight: 100;
    width: 100%;
    border: 1px solid #00291c;
    padding: 10px;
    margin: 6px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    transition: all .25s linear;
}

.btn:hover:not([disabled]) {
    background-color: #00291c;
    color: #fff;
}

.btn:disabled {
    cursor: not-allowed;
}

#next-btn {
    font-family: 'Poppins', sans-serif;
    background-color: #00291c;
    color: #fff;
    font-weight: 100;
    width: 140px;
    padding: 12px;
    margin: 10px 0;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    font-size: 17px;
    transition: all .2s linear;
    visibility: hidden;
}

#next-btn:hover {
    transform: translateY(-2px);
    opacity: .9;
}

.correct {
    background-color: #036444;
    color: #fff;
    border-color: #036444;
}

.incorrect {
    background-color: #e36060;
    color: #fff;
    border-color: #e36060;
}

#quit-btn {
    font-family: 'Poppins', sans-serif;
    background-color: #e36060;
    color: #fff;
    font-weight: 100;
    width: 140px;
    padding: 12px;
    margin-top: 10px;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    font-size: 17px;
    transition: all .2s linear;
    border: 1px solid #f0f0f0;
}

#quit-btn:hover {
    transform: translateY(-2px);
    opacity: .9;
}

.quiz-buttons {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.hidden {
    display: none;
}

button#start-btn {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #001f3f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 1rem 2.5rem;
    border: 1px solid #f0f0f0;
    opacity: 0.8;
}

button#start-btn:hover {
    background-color: #001f3f;
}

button#start-btn:focus {
    outline: none;
}

/** --------- Memoria Game */


/** --------- Flashcard Game */

.flashcard {
    position: relative;
    width: 30rem;
    height: 20rem;
    perspective: 1000px;
    font-size: 2.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.page-intro {
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

.flash-paragraph {
    font-size: 1.2rem;
    margin: 2rem 0;
    font-weight: bold;
}

.card {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.front,
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.front {
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back {
    background-color: #f0f0f0;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.flipped {
    transform: rotateY(180deg);
}

.arrows {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

/* --------- Media queries */

@media (max-width: 414px) {
    .controls-area {
        width: 100%;
    }

    .btn--big {
        margin: 0 10px;
        padding: 5px;
        border: 5px solid;
        width: 50px;
        height: 50px;
        font-size: 1.5rem;
    }

    .btn--big::after {
        font-size: 0.6rem;
        left: -0.7rem;
    }

    .question-area {
        padding: 10% 0;
        width: 100%;
    }

    .question-area span {
        padding: 0;
    }

    .answer-message {
        display: block;
    }

    #answer-box {
        display: block;
        margin: 0 auto;
    }

    .btn--gray {
        margin-top: 0;
    }

    .score-area {
        width: 100%;
    }

    .scores {
        margin: 0.5em auto;
        display: block;
        padding: 5px;
    }

    .heading {
        font-size: 2rem;
    }
}

@media (max-width: 320px) {
    .game-area {
        height: 70vh;
    }

    .game-area-quiz {
        height: 70vh;
    }

    .controls-area {
        width: 75%;
        margin: 10px auto;
    }

    .btn--big {
        margin: 10px 10px;
    }

    .question-area {
        padding: 10px 0;
    }

}

/* --------- Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    .header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 3.75rem;
        top: 0;
        flex-direction: row;
    }

    header img {
        position:
            left: -9rem;
    }

    nav {
        display: block;
        position: unset;
        width: unset;
        background: none;
        height: 2rem;
    }

    #nav-toggle-label {
        font-size: 2rem;
        color: transparent;
    }

    #menu {
        display: flex;
        flex-direction: unset;
        align-items: unset;
        padding-bottom: 0;
    }

    .game-area {
        width: 85%;
    }

    /* --------- Footer */
    .footer {
        position: fixed;
        bottom: 0;
    }

    /* --------- Quiz */
    .quiz {
        padding: 20px 0;
    }

    #answer-buttons {
        margin-top: 0;
    }

    .btn {
        margin: 10px 0;
    }

    .app>h1 {
        font-size: 25px;
    }

    .quiz>h2 {
        font-size: 18px;
        margin-top: -1rem;
    }

    .btn {
        font-size: 17px;
    }

    .footer-content {
        flex-direction: unset;
        justify-content: space-evenly;
    }

    #social-networks {
        margin-bottom: 0;
    }
}