/* --------- Global style */

body {
    background: linear-gradient(to bottom, #F5F5F5, #FFFFFF);
    font-family: "Raleway", sans-serif;
    color: #1e3050;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem 0;
    padding-bottom: 5rem;
}

/* --------- Header & Nav Bar */

.header {
    background: linear-gradient(to bottom, #FFA500, #FFD700);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    align-items: center;
    min-height: 3.75rem;
    top: 0;
    flex-direction: row-reverse;
    justify-content: space-around;
    height: 6rem;
}

header img {
    height: 4rem;
    margin-top: 2vh;
    border-radius: 50%;
}

header a {
    text-decoration: none;
    color: #1e3050;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: bolder;
}

#menu>li {
    font-weight: bold;
    padding: 0 2rem;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Nav bar */

nav {
    display: none;
    position: absolute;
    width: 100%;
    top: 5.5rem;
    background-color: transparent;
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

#nav-toggle-label {
    font-size: 2rem;
    color: #1e3050;
}

/* --------- Heading */

.heading {
    text-align: center;
    font-size: 2.5rem;
}

.logo {
    height: 40px;
    padding-right: 5px;
}

/* --------- Game layout */

.game-area {
    background: linear-gradient(to bottom, #800080 0%, #a040a0 40%, #a040a0 60%, #800080 100%);
    box-sizing: border-box;
    width: 85%;
    max-height: 450px;
    max-width: 830px;
    padding: 1%;
    border: 2px solid #B080C0;
    box-shadow: 0 0 10px rgba(128, 0, 128, 1);
}

.question-area {
    width: 50%;
    font-size: 2rem;
    margin: auto;
    padding: 50px 0;
}

.question-area span {
    padding: 0 15px;
}

.score-area {
    margin: 5px auto;
    width: 60%;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-around;
}

.controls-area {
    width: 85%;
    margin: 30px auto;
}

#score {
    color: green;
    font-weight: bold;
}

#incorrect {
    color: red;
    font-weight: bold;
}

.answer-message {
    display: none;
    font-size: 1rem;
}

#answer-box {
    border: none;
    color: #E6ECF0;
    display: inline-block;
    height: 40px;
    width: 80px;
    font-size: 1.2rem;
}

.scores {
    display: inline-block;
    padding: 25px;
}

/* --------- Quiz Game 1 */
.game-area-quiz {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #800080 0%, #a040a0 40%, #a040a0 60%, #800080 100%);
    box-sizing: border-box;
    width: 85%;
    max-height: 450px;
    max-width: 830px;
    padding: 1%;
    border: 2px solid #B080C0;
    box-shadow: 0 0 10px rgba(128, 0, 128, 1);
    flex-direction: column;
}

.start-btn {
    margin-bottom: 2rem;
}

.info-list {
    padding: 1rem 2rem 4rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.info-title {
    font-weight: bold;
    font-size: 1.3rem;
    padding: 1rem;
}

.start-btn button {
    font-size: 25px;
    font-weight: 500;
    color: #1e3050;
    padding: 15px 30px;
    outline: none;
    border-radius: 5px;
    background: #E6ECF0;
    border: 1px solid #E6ECF0; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.info-box {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px; 
}

.info-box {
    display: none;
}

.quiz-box {
    display: none;
}

#quiz-span {
    font-weight: 900;
    text-transform: uppercase;
    color: #E6ECF0;
    text-decoration: underline;
}

.quiz-buttons {
    display: none;
    margin-top: 1rem;
    gap: 1rem;
    transition: all 0.3s ease;
}

.restart {
    font-size: 25px;
    font-weight: 500;
    color: #1e3050;
    padding: 15px 30px;
    outline: none;
    border-radius: 5px;
    background: #E6ECF0;
    border: 1px solid #E6ECF0; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.quit {
    font-size: 25px;
    font-weight: 500;
    color: #E6ECF0;
    padding: 15px 30px;
    outline: none;
    border-radius: 5px;
    background: #1e3050;
    border: 1px solid #E6ECF0; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.buttons button.restart:hover {
    background-color: #CAD4DC;
}

.buttons button.quit:hover {
    background-color: #CAD4DC;
    color: #1e3050;
}

.start-btn button:hover {
    background-color: #CAD4DC;
}

.quiz-box header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    border-radius: 5px 5px 0 0;
    width: 100%;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.5);
    flex-wrap: nowrap;
    z-index: 99;
}

.quiz-box header .title {
    font-size: 20px;
    font-weight: 600;
}

.quiz-box header .timer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
    height: 45px;
    background: #cce5ff;
    border: 1px solid #b8daff;
    border-radius: 5px;
    padding: 0 8px;
    margin: 0.5rem 0;
}

.quiz-box header .timer .time-text {
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}

.quiz-box header .timer .timer-sec {
    font-weight: 500;
    font-size: 18px;
    background: #343a40;
    height: 30px;
    width: 45px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    border: 1px solid #343a40;
    user-select: none;
}

.quiz-box section {
    padding: 25px 30px 20px 30px;
}

.quiz-box section .que-text {
    font-size: 25px;
    font-weight: 600;
}

.quiz-box section .option-list {
    display: block;
    padding: 20px 0;
}

section .option-list .option {
    background-color: rgba(240, 248, 255, 0.5);
    border: 1px solid #1e3050;
    border-radius: 5px;
    padding: 8px 15px;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-size: 17px;
    transition: all 0.3s ease;
}

section .option-list .option:hover {
    color: #004085;
    background: #D8E6F7;
    border-color: #1e3050;
}

.option-list .option:last-child {
    margin-bottom: 0px;
}

.option-list .option .icon-tick {
    height: 2.5rem;
    width: 2.5rem;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 22px;
    line-height: 24px;
    display: flex;
    pointer-events: none;
    justify-content: space-around;
    align-items: center;
    color: #23903c;
    border-color: #23903c;
    background: #d4edda;
}

.option-list .option .icon-cross {
    height: 2.5rem;
    width: 2.5rem;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 22px;
    line-height: 24px;
    display: flex;
    pointer-events: none;
    justify-content: space-around;
    align-items: center;
    color: #a4283a;
    border-color: #a4283a;
    background: #f8d7da;
}

.quiz-box footer {
    height: 3.75rem;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 30px;
    justify-content: space-between;
}

.quiz-box footer .total-que span {
    display: flex;
    user-select: none;
    align-items: center;
}

footer .total-que span p {
    font-weight: 500;
    padding: 0 5px;
}

.total-que span p:first-child {
    padding: 7px;
}

footer .next-btn {
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    outline: none;
    border-radius: 5px;
    background: #E6ECF0;
    border: 1px solid #E6ECF0; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3 ease;
}

footer .next-btn:hover {
    background: #CAD4DC;
}

/* --------- Footer */
.footer {
    background: linear-gradient(to bottom, #FFA500, #FFD700);
    padding: 20px;
    width: 100%;
    margin-top: 6rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#social-networks {
    list-style-type: none;
    display: flex;
    font-size: 1.2rem;
}

#social-networks li {
    margin-right: 10px;
    padding: 0 1rem;
}

.footer p {
    margin: 0;
}

/* --------- Buttons */

.btn {
    width: 220px;
    height: 60px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: #445361;
}

.btn:focus {
    outline: none;
}

.btn--big {
    padding-top: 10px;
    border-radius: 50%;
    background-color: #445361;
    border: 10px solid;
    width: 100px;
    height: 100px;
    font-size: 3.2rem;
    margin: 0 30px;
    transition: all 0.5s;
}

.btn--blue {
    border-color: blue;
    color: blue;
}

.btn--blue:active,
.btn--blue:hover {
    background-color: darkblue;
    color: white;
}

.btn--orange {
    border-color: orange;
    color: orange;
}

.btn--orange:active,
.btn--orange:hover {
    background-color: darkorange;
    color: white;
}

.btn--red {
    border-color: red;
    color: red;
}

.btn--red:active,
.btn--red:hover {
    background-color: darkred;
    color: white;
}

.btn--green {
    border-color: green;
    color: green;
}

.btn--green:active,
.btn--green:hover {
    background-color: darkgreen;
    color: white;
}

.btn--gray {
    margin-top: 25px;
    background-color: #445361;
    border: 1px transparent;
    border-radius: 20px;
}

.btn--gray:active,
.btn--gray:hover {
    background-color: #0d1013;
}

/** --------- Flashcard Game */

.game-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.flashcard {
    position: relative;
    width: 30rem;
    height: 20rem;
    perspective: 1000px;
    font-size: 2.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#flash-intro {
    font-size: 1.2rem;
}

.card {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.front,
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.front {
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back {
    background-color: #f0f0f0;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.flipped {
    transform: rotateY(180deg);
}

.arrows {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

/* --------- Media queries */

@media (max-width: 414px) {
    .controls-area {
        width: 100%;
    }

    .btn--big {
        margin: 0 10px;
        padding: 5px;
        border: 5px solid;
        width: 50px;
        height: 50px;
        font-size: 1.5rem;
    }

    .btn--big::after {
        font-size: 0.6rem;
        left: -0.7rem;
    }

    .question-area {
        padding: 10% 0;
        width: 100%;
    }

    .question-area span {
        padding: 0;
    }

    .answer-message {
        display: block;
    }

    #answer-box {
        display: block;
        margin: 0 auto;
    }

    .btn--gray {
        margin-top: 0;
    }

    .score-area {
        width: 100%;
    }

    .scores {
        margin: 0.5em auto;
        display: block;
        padding: 5px;
    }

    .heading {
        font-size: 2rem;
    }
}

@media (max-width: 320px) {
    .game-area {
        height: 70vh;
    }

    .game-area-quiz {
        height: 70vh;
    }

    .controls-area {
        width: 75%;
        margin: 10px auto;
    }

    .btn--big {
        margin: 10px 10px;
    }

    .question-area {
        padding: 10px 0;
    }

}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    .header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 3.75rem;
        top: 0;
        flex-direction: row;
    }

    header img {
        position:
            left: -9rem;
    }

    nav {
        display: block;
        position: unset;
        width: unset;
    }

    #nav-toggle-label {
        font-size: 2rem;
        color: transparent;
    }

    #menu {
        display: flex;
        flex-direction: unset;
        align-items: unset;
    }

    /* Footer */
    .footer {
        position: fixed;
        bottom: -1rem;
    }
}